**/src/project/pages/**
!**/src/project/pages/index.html
**/src/project/components/**
**/src/project/scripts/client/**
**/src/project/scripts/server/**
**/src/project/scripts/database/**
**/src/project/styles/**
!**/src/project/styles/global.css
**/dist
**/build
**/node_modules